@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ############## Html element styling#########*/


html{
    /* font-size: 10px; */
    /* 16px=100% */
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
    font-weight: 500;
}

/* ##########Utility classes#########*/

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;

}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}
.text-gray{
    color: #555555;
}
.bg-dark{
    background: #263238;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}

.btn-primary:hover{
    background: #c0bebe;
}


.btn-secondary{
    border:2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
}

.btn-secondary:hover{
    background: #f6d1cd;
}

/* ###### Header Styling ######## */


.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(52, 51, 51, 0.8) ,rgba(52, 50, 50, 0.752)) ,url('../img/Far.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.navbar{
    padding: 1rem;
    /* position: fixed;
    top: 0; */
}

.navbar .nav-items{
    float: right;
    margin-top: 1rem;
} 

.navbar .logo {
    float: left;
    /* font-size: 3.5rem; */
}

.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}


.navbar a{
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid #fff;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}


/* ################# HEder contant style########### */

.header-contant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: linear-gradient(rgba(39, 38, 38, 0.2),rgba(44, 44, 44, 0.2));
}


.header-contant h1{
    text-transform: uppercase;
    font-weight: 700;
}

.header-contant p{
    text-transform: uppercase;
}

/* ################ Show case section styling######### */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}
.row{
    height: 350px;
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px #00000042;
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{
    
    height: 100%;
}
.row .text-box{

    padding: 3rem;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.row::after{
    content: '';
    display: block;
    clear: both;
}

/* ########## Fearutes section styling###### */
.features{
    padding: 10rem 0;
}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px #00000073 ;
}
.box{
    width: 33.333333333333%;
    float:left;
    padding: 2rem;
    text-align: center;
}

.box-1, .box-3{
    background: #141a14;
    color: wheat;
}

.box-2{
    color: white;
    background: #d4091a;
}

.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

/* ################Fotter styling#### */
.footer{
    background: #263238;
    color: white;
    padding: 2rem;
    text-align: center;
}
.social-media-links i{
    margin: 2rem;
}

/* #############About page Styling##### */
.about{
    padding: 5rem 0;
}
.about-heading{
    border-bottom: 6px solid #e63946;
}

/* ############### about-wrapper################ */

.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}

.about-wrapper .left{
    float: left;
    width: 50%;
}

.about-wrapper .right{
    float: right;
    width: 50%;
}

.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}


/* ######################Count style################### */
.counts{
     margin-top: 3rem;
}
.count-item{
    float: left;
    width: 25%;
    text-align: center;
}

.counts::after{
    content: '';
    display: block;
    clear: both;
}
.count-item span{
    font-size: 3rem;
    font-weight: 7000;
    color: #e63946;
}
.count-item p{
    font-weight: 700;
    color: #555555;
    font-size: 1.8rem;
}

.cta-banner{
    background: #d4091a;
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000077;
    margin-top: 3rem;
}

.cta-banner-left{
  width: 60%;
  float: left;
}

.cta-banner-right{
width: 40%;
float: right;
text-align: right;
}

.cta-line{

    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}


.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 0.3rem solid white;
    padding: 0.3rem 2.5rem;
    color: #f4f4f4;
    letter-spacing: 0.5rem;
}
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}


/* #####################Contact page############### */
.form-wrapper{
    display: flex;
}
.form{
    float: right;
    width: 49%;
    margin-top: -76rem;
}

.contact-form{
    padding: 5rem 0;
    font-size: 2rem;
    background: #f7f7f7;
}


.form-wrapper.company-address{
    background: #fff;
    float: left;
    width: 44%;
    padding: 1rem;
    /* border:  3px solid rebeccapurple; */
    
}
.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}


.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
    
 }

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper img{
    max-width: 45%;
    min-height:10rem ;
    object-fit: cover;
    height: 25rem;
}

.company-address{
    height: 760px;
}

.form{
    height: 760px;
    content: '';
    display: inline-block;
    clear: both;
    font-size: 1.6rem;
    padding: 1rem;
}

.form h1::after{
    content: '';
    display: block;
    width: 100%;
}

label{
    display: block;
}

.form input{
    padding: 0.5rem;
    width: 100%;
}
.form .form-group{
    margin-bottom: 1.2rem;
}


.form label::after{
    content: '*';
    color: #e63946;
}

.form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    columns: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* #################Media Queries##################### */

@media (max-width: 500px){
  html{
    font-size: 50%;
  }
  p{
    font-size: 1.6rem;
  }

  .navbar .nav-items , .navbar .logo{
    float: none;
  }

  .row{
    height: auto;
    width: 100%;
  }
  .row .img-box,
  .row .text-box{
    float: none;
    width: 100%;
    text-align: center;
  }

  .features .box{
    float: none;
    width: 100%;
    text-align: center;
  }

  .features .box-2,
  .features .box-3{
    margin-top: 7rem;
  }

  .cta-banner-left,
  .cta-banner-right{
    float: none;
    width: 100%;
    text-align: center;
  }
  .form{
    margin-top: -95rem;
  }
  /* .form-wrapper .company-address{
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;

  }
  /* .form{
    float: none;
    width: 100%;
    height: auto;
  } */ 
  .form-wrapper img{
    height: 300px;
  }

}

@media (min-width:501px) and (max-width:760px ){
    
    tml{
        font-size: 50%;
      }
      p{
        font-size: 1.8rem;
      }
    
      .navbar .nav-items , .navbar .logo{
        float: none;
      }
    
      .row{
        height: auto;
        width: 100%;
      }
      .row .img-box,
      .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
      }
    
      .features .box{
        float: none;
        width: 100%;
        text-align: center;
      }
    
      .features .box-2,
      .features .box-3{
        margin-top: 7rem;
      }
    
      .cta-banner-left,
      .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
      }
      .form{
        margin-top: -95rem;
      }
      /* .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    
      }
      /* .form{
        float: none;
        width: 100%;
        height: auto;
      } */ 
      .form-wrapper img{
        height: 300px;
      }
}






